body {
    background-color: white;
}
/* back ground color menu */
.menu {
    background-color: #91b4ed;
    overflow: hidden;
}
/* link style in menu */
.menu a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
/* color change on hover */
.menu a:hover {
    background-color: #ddd;
    color: black;
}
/* color on active link */
.menu a.active {
 background-color: #4CAF50;
 color: white;
}
/* google map */
.map-container{
    position:absolute; right:160px; top:210px;
}
.mapouter{
    position:relative;text-align:right;height:300px;width:300px;
}
.gmap_canvas {
    overflow:hidden;background:none!important;height:300px;width:300px;
}