body {
    background-color: #E8E8E8;
}
/* back ground color menu */
.menu {
    background-color: #91b4ed;
    overflow: hidden;
}
/* link style in menu */
.menu a {
    
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 17px;
    text-decoration: none;
    font-size: 17px;
}
/* color change on hover */
.menu a:hover:not(.active) {
    background-color: #ddd;
    color: black;
}
/* color on active link */
.menu a.active {
    background-color: #4CAF50;
    color: white;
  }
/* google map */
.map-container{
    position:absolute; right:200px; top:250px;
}
.mapouter{
    position:relative;text-align:right;height:400px;width:400px;
}
.gmap_canvas {
    overflow:hidden;background:none!important;height:400px;width:400px;
}
/* Opening times */
.times {
    background-color: #dedcdc;
    position:absolute; right:1050px; top:650px;
    width:300px;
    border: 1px solid black;
    padding: 1px;
    margin: 0px;
    border-radius: 25px;
}
/* the adress */
.adress {
    background-color: #dedcdc;
    position:absolute; right:680px; top:650px;
    width:300px;
    border: 1px solid black;
    padding: 5px;
    margin: 0px;
    border-radius: 25px;
}
/* repeat service */
.herhaal {
    position:absolute; right:1205px; top:560px;
    background-color: #91b4ed;
    border-radius: 20px;
    border: 1px solid #73AD21;
    padding: 20px;
    width: 100px;
    height: 40px
}
.herhaal a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 2px 10px;
    text-decoration: none;
    font-size: 17px;
}
.herhaal a:hover {
    background-color: #A4C0EF;
    color: white;
    border-radius: 5%;
	transform: scale(1.2);
}
/* medicin overview */
.medicin{
    position:absolute; right:980px; top:560px;
    background-color: #91b4ed;
    border-radius: 20px;
    border: 1px solid #73AD21;
    padding: 20px;
    width: 100px;
    height: 40px;
	transition: border-radius 1s, transform 1s, border 0.2s;
}
.medicin a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 2px 10px;
    text-decoration: none;
    font-size: 17px;
}
.medicin a:hover {
    background-color: #A4C0EF;
    color: white;
    border-radius: 5%;
	transform: scale(1.2);
}
/* Register tab */
.register{
    position:absolute; right: 750px; top:560px;
    background-color: #91b4ed;
    border-radius: 20px;
    border: 1px solid #73AD21;
    padding: 20px;
    width: 100px;
    height: 40px
}
.register a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 2px 10px;
    text-decoration: none;
    font-size: 17px;
}
.register a:hover {
    background-color: #A4C0EF;
    color: white;
    border-radius: 5%;
	transform: scale(1.2);
}
/* news tab */
.news {
    background-color: #dedcdc;
    position:absolute; right:1007px; top:800px;
    width:300px;
    border: 1px solid black;
    padding: 20px;
    margin: 5px;
    border-radius: 25px;
}
.body {  
    margin: 0;  
    background: #e6e6e6;  
}  
.mySlides {
    height:350px;
    max-width: 900px;  
    position: relative;  
    margin: 100px; 
   position:absolute; right:650px; top:110px; 
}  
.info {
    background-color: #dedcdc;
    position:absolute; right:550px; top:300px;
    width:500px;
    border: 1px solid black;
    padding: 20px;
    margin: 5px;
}
.gtriangle {
    width:900px;
    opacity:50%;
    position:absolute; right:-60px; top:200px;
    transform: rotate(90deg)
}
.loginform {
    position:absolute; right:50%; top:300px;
}
.registerform {
    position:absolute; right:50%; top:300px;
}